{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>User Register Page</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body bgcolor="#f8f9fa">
    
    <div>
        <div class="log">
        <h1 class="login">Login form</h1>
        </div>
    </div>
<div class="parent">
    <form  method="POST">
        {% csrf_token %} 
    <div class="box">
        <div class="user">
        <label for="email"> <b>  Email</b></label>
        
        <input type="text" placeholder=" Email" name="email" class="mail">
        </div>
    
    
        <div class="pass">
        <label for="password"><b>Password</b></label>
        
        <input type="password" placeholder="Password" class="mail" name="password">
        </div>
    
        
        <div>
        <button class="btn" type="submit"><b> Login now</b></button>
        </div>
    </div>
    {% comment %} {% if message %}
    <script>alert("{{message}}")</script>
    {% endif %} {% endcomment %}
    
    </form>
</div>

    

</body>
</html>